/* About */
.about {
    display: flex;
    flex-direction: column;
}

.about h2 {
    margin-bottom: calc(var(--base-unit) * 5);
}

.experience dl dt {
    font-style: italic;
    font-weight: normal;
    color: var(--nazare);
}

.clients ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clients li {
    margin-bottom: calc(var(--base-unit) * 5);
    display: flex;
    justify-content: center;
}