:root {
    --black: #151515;
    --white: #F9F7E8;
    --purple: #39304A;
    --cream: #E1D89F;
    --salmon: #FB9F89;
    --nazare: #63C0AD;
    --base-unit: 8px;
    --font-default: freight-big-pro, serif;
}

body {
    background: var(--black);
    font-family: var(--font-default);
    color: var(--white);
}

a {
    color: var(--black);
    transition: filter .2s;
}

a:hover {
    filter: invert(0.5)
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 calc(var(--base-unit) * 2);
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--base-unit) * 2) 0;
    margin-bottom: calc(var(--base-unit) * 5);
}

.logo {
    z-index: 200;
}

.menu {
    height: calc(var(--base-unit) * 5);
    width: calc(var(--base-unit) * 5);
}

.burger {
    height: 100%;
    width: 100%;
    display: block;
}

.burger a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.burger a > span {
    height: 1px;
    width: calc(var(--base-unit) * 4);
    display: block;
    background-color: var(--nazare);
    margin-bottom: var(--base-unit);
    float: right;
}

.burger a > span:last-child {
    width: calc(var(--base-unit) * 2);
    margin-bottom: 0;
}

.close {
    height: 100%;
    width: 100%;
    display: none;
    z-index: 200;
    position: relative;
}
.close a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close a > span {
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--black);
    transform: rotate(45deg);
}

.close a > span:last-child {
    transform: rotate(-45deg);
}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    z-index: 100;
    display: none;
    text-align: right;
    padding-top: calc(var(--base-unit) * 10);
}

.navigation li {
    font-size: 4em;
    font-style: italic;
    color: var(--black);
    list-style: none;
}

.navigation li.active::before {
    color: var(--nazare);
}

.navigation li.active a {
    color: var(--nazare);
}

.navigation li a {
    color: var(--black);
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social > span {
    padding: var(--base-unit);
}

.social img {
    transition: filter .2s;
}

.social img:hover {
    filter: invert(0.5)
}

.header h1 {
    font-weight: 300;
    font-size: 7.5em;
    font-style: italic;
    line-height: .8em;
    color: var(--nazare);
    text-align: center;
}

.header img {
    margin-top: calc(var(--base-unit) * (-6));
    max-width: 80%;
    margin: 0 auto;
}

.header p::first-letter {
    font-size: 5em;
    color: var(--nazare);
    line-height: 10px;
}